body {
    background-image: url("./../images/homedivbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#homediv {
    background-image: url("./../images/homedivinnerbackground.jpg");
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
        'homexbox homeps';
}

#homexbox {
    display: grid;
    grid-template-areas: 
    'xboximg'
    'xboxlogin'
    'xboxregister';
}

#homeps {
    display: grid;
    grid-template-areas: 
    'psimg'
    'pslogin'
    'psregister';
}

#xboxbtn {
    border-radius: 8px;
    background-color:  #0e7a0d;
    height: 75px;
    width: 150px;
    color: white;
    font-size: 25px;
    margin-left: 75px;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
}

#xboxbtn:hover, #psbtn:hover{
    color: black;
    background-color: white;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

#psbtn {
    border-radius: 8px;
    background-color:  #006fcd;
    height: 75px;
    width: 150px;
    color: white;
    font-size: 25px;
    margin-left: 75px;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
}

#xboxdiv {
    background-image: url("./../images/homedivinnerbackground.jpg");
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
        'child1 child2';
    overflow: scroll;
}

#child1 #xboximg {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

#child2 #loginxbox form div {
    font-size: 25px;
    font-weight: bold;
}

#child2 #loginxbox form {
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
}

#loginxbox input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    font-size: 25px;
    background-color: #0e7a0d;
    color: white;
    border-radius: 8px;
}

header img {
    margin-top: 15px;
    margin-left: 900px;
}

header img:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

#psdiv {
    background-image: url("./../images/homedivinnerbackground.jpg");
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-areas: 
        'child1 child2';
    overflow: scroll;
}

#child1 #psimg {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

#child2 #loginps form div {
    font-size: 25px;
    font-weight: bold;
}

#child2 #loginps form {
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

#loginps input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    font-size: 25px;
    background-color: #006fcd;
    color: white;
    border-radius: 8px;
}